<div class="row">
  <div class="col-md-6 offset-md-3 col-12 offset-0">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title">{{ operationTitle }} Post</h4>
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-primary" (click)="addActivity()" *ngIf="mode !== actionMode.View">+ Activity</button>
            <button class="btn btn-sm btn-primary" (click)="addInvoice()" *ngIf="mode !== actionMode.View">+ Invoice</button>
          </div>

        </div>

        <form #form="ngForm" (ngSubmit)="onSubmit()" [class.disabled]="mode === actionMode.View">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title" required [(ngModel)]="post.title">
            </div>
    
            <div class="mb-3">
              <div class="d-flex justify-content-between flex-column flex-sm-row gap-1 mb-2">
                <label for="title" class="form-label mb-0">Category</label>
                <a href="javascript:void(0);" (click)="addCategory($event)" *ngIf="mode !== actionMode.View">+ Add Category</a>
              </div>
                <select class="form-select"  name="category" id="title" required [(ngModel)]="post.category">
                    <option value="">select</option>
                    <option [value]="cat.id" *ngFor="let cat of categories">{{ cat.name }}</option>
                  </select>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Description</label>
                <textarea class="form-control" name="body" id="body" rows="3" required [(ngModel)]="post.body"></textarea>
            </div>
    
            <div class="mb-3">
              <div class="d-flex justify-content-between align-items-start">
                <h3>User List</h3>
                <a class="pointer" *ngIf="mode !== actionMode.View" (click)="addUser()">+ Add User</a>
              </div>
              <ul class="list-group" *ngIf="userList.length > 0">
                <li (click)="openUser($event,user)" class="list-group-item d-flex justify-content-between align-items-start pointer"
                  *ngFor="let user of userList">
                  <div class="me-auto">
                    <div class="fw-bold">
                      {{ user.name }}
                    </div>
                  </div>
                  <span *ngIf="mode !== actionMode.View" class="badge bg-danger rounded-pill pointer z-index-1" (click)="removeUser($event,user)">x</span>
                </li>

              </ul>
            </div>
    
            <div class="d-flex flex-column flex-sm-row gap-2">
                <button type="submit" class="btn btn-primary" *ngIf="mode !== actionMode.View">Submit</button>
                <button type="button" (click)="onReturn()" class="btn btn-outline-secondary">Cancel</button>
    
            </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
