.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.app-sidenav .dropdown {
    padding-left: 16px;
    padding-right: 16px;
}

.app-sidenav .dropdown .mat-expansion-panel-header {
    padding-left:0px ;
    padding-right:16px ;
}

.app-container .dropdown .mat-icon {
    padding-right: 10px;
}