
<div class="d-flex justify-content-sm-between mb-3 align-items-start justify-content-center flex-column flex-sm-row">
    <h2>Activity List</h2>
    <button class="btn btn-primary btn-sm" (click)="addCategory()">+ Add Activity</button>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cat of categories">
                    <td>{{cat.name}}</td>
                    <td>{{ cat.body }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button class="btn btn-outline-info" (click)="onView(cat.id)" >View</button>
                            <button class="btn btn-outline-warning" (click)="onEdit(cat.id)">Edit</button>
                            <button class="btn btn-outline-danger" (click)="onDelete(cat.id)">Delete</button>
                        </div>
                        
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>