
<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>
    This dialog showcases the title, close, content and actions elements.
    <div class="card border-primary">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>Install</button>
</div>