
<div class="d-flex justify-content-sm-between mb-3 align-items-start justify-content-center flex-column flex-sm-row">
    <h2>IAA List</h2>
    <button class="btn btn-primary btn-sm" (click)="addPost()">+ Add IAA</button>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>IAA No.</th>
                    <th>Service Agency</th>
                    <th>Request Agency</th>
                    <th>Contractor</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let iaa of iaas">
                    <td>{{iaa.title}}</td>
                    <td>{{ iaa.contracNo }}</td>
                    <td>{{ iaa.serviceAgency }}</td>
                    <td>{{ iaa.requestAgency }}</td>
                    <td>{{ iaa.contractor }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button class="btn btn-outline-info" (click)="onView(iaa.id)" >View</button>
                            <button class="btn btn-outline-warning" (click)="onEdit(iaa.id)">Edit</button>
                            <button class="btn btn-outline-danger" (click)="onDelete(iaa.id)">Delete</button>
                        </div>
                        
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>