/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-list-item__primary-text {
    display: flex;
    gap:10px;
    align-items: center;
}

.container {
    padding: 50px 80px;
}

.app-sidenav .dropdown .mat-expansion-panel-header .mat-content {
    align-items: center !important;
}

.app-sidenav .dropdown .mat-expansion-panel-body {
    padding: 0px;
}

.app-sidenav .dropdown .mat-mdc-list-item {
    padding-left: 0px;
    padding-right: 0px;
}

.app-sidenav .dropdown .mat-expansion-panel-header.mat-expanded {
    height: 40px;
}

.mat-sort-header-disabled .mat-sort-header-arrow {
    display: none !important;
}